@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.aboutme_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.aboutme_text_container {
  padding: 10px;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.aboutme_name {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-shadow: 0 0 15px rgb(75, 133, 187);
  color: rgb(40, 69, 148);
}

.aboutme_msg {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-shadow: 0 0 15px rgb(165, 40, 88);
  color: rgb(165, 26, 79);
}

.internal_div {
  border-left: 5px solid rgb(168, 31, 84);
  padding-left: 20px;
}

.my_name {
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
