.row {
  display: flex;
}

.left_container {
  flex: 1 1 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  background-color: #192a56;
  box-shadow: 0 0 20px #192a56;
}

.right_scroll {
  height: 100vh;
  flex: 1 1 70%;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  .left_container {
    display: none;
  }

  .right_scroll {
    display: flex;
    height: inherit;
    overflow: hidden;
    justify-content: center;
  }
}

.right_container {
  padding: 40px;
  height: inherit;
}

.right_item_container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
