.footer_container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer_content {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  padding: 4px;
  border-top-left-radius: 10px;
  font-weight: 500;
  font-size: 10px;
  color: rgb(136, 135, 135);
}
